
    <title>{{ .Site.Title }}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <!-- Open Graph Tags for Social Sharing -->
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.profile.avatar }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ .Site.Title }}">
    <meta name="twitter:description" content="{{ .Site.Params.description }}">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">
    <!-- Theme SCSS -->
    {{ $style := resources.Get "scss/devresume.scss" | resources.ExecuteAsTemplate "scss/devresume.scss" . | toCSS (dict "targetPath" "assets/css/devresume.css") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
